*,html{
  margin:0 auto;
}

#container
{
  width:600px;
  height:1440px;
  background-color: grey;
  position: absolute;
}

.meeting
{
   position: absolute;
   display: inline-block;
   text-align: center;
}

.meeting span
{
   display: inline-block;
   color:white;
   vertical-align: middle;
}
